.Nav-container{
    padding: 1%;
    font-size:$nav-font-size;
    color: $color-txt;
    align-items: baseline;
    display: flex;
    gap: 3%;
    justify-content:right;
}

.intro-section{

    justify-content: start;
    text-align: center;
    color:$color-heading;
}


.Technical-skills{
    text-align:end;
    display: flex;
    justify-content: end;
    color:$color-heading;
}



.About-me{
    width: 50%;
    line-height: 20px;
    color: $color-heading;
    text-align: start;
    padding: 1%;
    background-color: #E5E6E4;
    border-radius: 15px;
    border: 15px;
}

.My-projects{
    text-align: center;
    color: $color-heading;
}

.skills{
    text-align: center;
    color: $color-heading;
}
